<!DOCTYPE html>
<html>
<head>
  <title><%= (yield(:title) + ' - ' unless yield(:title).blank?).to_s + 'Omerta Beyond Telegram Bot' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <%= yield %>
</body>
</html>
