<!DOCTYPE html>
<html>
<head>
  <title><%= (yield(:title) + ' - ' unless yield(:title).blank?).to_s + 'Omerta Beyond Telegram Bot' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <% flash.each do |name, msg| %>
    <div class="container main">
      <div class="row">
        <div class="col-lg-12">
            <%= content_tag :div, class: "alert alert-#{ case name when "alert" then "danger" else "success" end } alert-dismissable", role: "alert" do %>
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <%= msg %>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>
